APP_NAME=be-baseplate
APP_ENV=development
APP_PORT=3000
DB_HOST=localhost
DB_PORT=5445
DB_NAME=baseplate
DB_USER=postgres
DB_PASSWORD=postgres
BETTER_AUTH_SECRET=tVJrYTkdX7HNEN7QwdziRKHg5Mhkrjyt
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}